<form [formGroup]=form>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="text"
           matInput
           formControlName="email">
    <mat-error *ngIf="emailFormControl?.hasError('email') && !emailFormControl?.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl?.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password"
           matInput
           formControlName="password">
    <mat-error *ngIf="passwordFormControl?.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button
          color="primary"
          type="submit"
          class="u-mb-8"
          (click)="loginEmail()">Login
  </button>
  <button mat-button
          color="accent"
          class="u-mb-64"
          (click)="create()">Stwórz konto
  </button>
  <p class="u-mb-8">Lub zaloguj się przez</p>
  <div class="social-media-login u-mb-8">
    <button mat-raised-button
            class="u-mr-4"
            color="primary"
            (click)="loginGoogle()">
      <mat-icon svgIcon="google"
                aria-hidden="false"
                aria-label="Login using Google">
      </mat-icon>
    </button>
    <button mat-raised-button
            color="primary"
            (click)="loginFacebook()">
      <mat-icon aria-hidden="false"
                class="facebook"
                aria-label="Login using Facebook">facebook
      </mat-icon>
    </button>
  </div>
  <button mat-button
          (click)="reset()"
          color="warn">Resetuj hasło
  </button>
</form>
