@import 'src/app/styles/palette';

:host {
  width: 100%;
  height: 3rem;

  .logo-text {
    font-weight: 600;
  }

  .menu-items {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;

    .highlight-item {
      color: $secondary-color;
    }
  }

  .menu-item {
    font-size: 1rem;
    cursor: pointer;
  }

  a {
    padding: 1rem;
    text-decoration: none;
    color: #fff;
  }
}
