<mat-spinner *ngIf="pending" class="spinner" color="accent"></mat-spinner>
<form [formGroup]=form>
  <!-- nazwa  -->
  <mat-form-field>
    <mat-label>Nazwa</mat-label>
    <input type="text"
           matInput
           formControlName="name">
    <mat-error *ngIf="nameFormControl?.hasError('required')">
      Nazwa jest <strong>wymagana</strong>
    </mat-error>
  </mat-form-field>
  <!-- kategoria -->
  <mat-form-field>
    <mat-label>Kategoria</mat-label>
    <mat-select formControlName="categories"
                multiple>
      <mat-option *ngFor="let category of availableCategories"
                  [value]="category">{{category}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Składniki -->
  <div class="ingredients"
       formArrayName="ingredients">
    <rp-simple-ingredient *ngFor="let ingredient of ingredients.controls; let i = index;"
                          (removeIngredient)="onDelete($event)"
                          [ingredientIndex]="i"
                          [availableUnits]="availableUnits"
                          [ingredientFG]="ingredient">
    </rp-simple-ingredient>
  </div>
  <!-- Kroki -->
  <mat-label>Kroki</mat-label>
  <textarea
    matInput
    cdkTextareaAutosize
    cdkAutosizeMinRows="10"
    cdkAutosizeMaxRows="15"
    formControlName="steps">
  </textarea>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="submit()">
    <span *ngIf="!editedRecipe; else edit">Dodaj</span>
    <ng-template #edit>Zmień</ng-template>
  </button>
  <button mat-button
          *ngIf="editedRecipe"
          color="accent"
          type="button"
          (click)="toggleEditMode()">
    <span *ngIf="isInEditMode; else previewMode">Wyjście z edycji</span>
    <ng-template #previewMode>Edycja</ng-template>
  </button>
  <button mat-raised-button
          *ngIf="editedRecipe"
          color="warn"
          type="button"
          [disabled]="!isInEditMode"
          (click)="remove()">Usuń
  </button>
</form>
