<div class="page-header pt-4">
  <h1>Kategorie</h1>
</div>

<form class="form">
  <div class="form-group">
    <label for="searchCategory">Wyszukaj przepis</label>
    <input
      type="text"
      text="form-control"
      id="searchCategory"
      class="form-control"
      placeholder="Nazwa przepisu lub produktu"
    />
  </div>
  <button class="btn btn-primary w-25">Szukaj</button>
</form>

<hr />
<div class="category-list">
  <rp-category-card class="mb-2"
                    *ngFor="let category of (categories$ | async)"
                    [imageUrl]="category.photoUrl"
                    [title]="category.categoryName"
                    [recipesCount]="category.recipesCount"
  >x</rp-category-card>
</div>
